@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap');

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}


/*/////////////////*/

.container {
    width: 100%;
    background: url(img/turtle-sea.jpg) no-repeat top;
    height: 50rem;
}

.nav-bar {
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.95);
}

.links {
    display: flex;
    list-style: none;
    font-size: 1.4rem;
}

.links li {
    margin: 0 2rem;
}

.links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
}

.links a:hover {
    color: #fff;
}

.heading-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35rem;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 5rem;
    color: #fff;    
    margin-bottom: 2rem;
}

.heading p {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.85);
}


