@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

:root {
    --color-green: #69F6D3;
    --color-primary-blue: #51D7D3;  
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*///////////////*/

.container {
    width: 60%;
    height: 70vh;
    background-color: orangered;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.item__img {
    width: 100%;
    position: absolute;
}