@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700&family=Roboto:wght@400;500&display=swap');

:root {
    --blue: #213d65;
    --light-blue: #00B4DF;
    --green-aqua: #42DDCD;
    --soft-white: #F8F8F8;
    --grey-smoke: #969595;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--blue);
}


/*//////////////*/

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 7%;
    background-color: white;
}

li, a, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.links {
    list-style: none;
    padding: 4rem 0;
}

.links li { 
    display: inline-block;
}

.links li a {
    color: var(--grey-smoke);
    text-decoration: none;
    padding: 4rem 3rem;
    transition: all .3s ease;
}

.links li a:hover {
    background-color: var(--soft-white);
    color: var(--blue);
}

.logo {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: auto;
}

.logo span {
    font-weight: initial;
    margin-left: .4rem;
}

.logo__circle {
    height: 5rem;
    width: 5rem;
    background-color: #00B4DF;
    border-radius: 50%;
    display: inline-block;
    margin-right: .7rem;
}

button {
    padding: 1.4rem 3.5rem;
    border-radius: 5rem;
    border: none;
    margin: 0 3rem;
    background-color: var(--green-aqua);
    color: white;
    cursor: pointer;
    transition: .3s ease;
}

button:hover {
    background-color: #1CD6C3;
}