@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Source+Sans+Pro:wght@200;300;400&display=swap');

:root {
    --blue: #327EC7;
    --blue-aqua: #40CBBB;
    --aqua-dark: #3BAFBF;
    --light-blue: #3697C3;
    --text-color: #333c4e;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    color: var(--text-color);
    font-weight: 300;
}

.gap-sm {margin: 2rem;}
.gap-md {margin: 3rem}
.gap-bg {margin: 7rem;}
.gap-hg {margin: 10rem;}

.divider {
    width: 28rem;
    height: 2px;
    background-color: #d1d1d1;
    margin: 3rem auto;
}

/*////////////////*/

.header {
    display: block;
    min-height: 100vh;
    background-image: url(img/header-img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #20232594;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    margin: 0 auto; 
    padding: 3rem;
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo__circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-image: linear-gradient(to left, var(--blue), var(--blue-aqua));
    margin-right: 1.2rem;
}

.logo__text {
    font-weight: bold;
    font-size: 2.4rem;
    color: white;
}

.links {
    display: flex;
    margin-right: 2rem;
}

.links li {
    list-style: none;
    margin: 0 2rem;
}

.links a {
    display: block;
    font-size: 1.38rem;
    color: white;
    text-decoration: none;
    transition: all .3s ease;
}


.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    background-color: var(--aqua-dark);
    padding: 1.5rem 2.6rem;
    border-radius: 1px;
    letter-spacing: 2px;
    transition: all .2s ease;
}

.btn:hover {
    background-color: #00A8BF;
}


/*////// HEADER CONTENT ////////*/

/* HEADING */

.header__content-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    padding: 17rem;
}

.header__content-box {
    display: flex;
    width: 117rem;
}

.heading {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    width: 75%;
    margin-right: 3rem;
}

.heading h1 {
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 2rem 0;
}

.heading span {
    color: var(--aqua-dark);
}

.heading p {
    font-size: 2.6rem;
}

.heading a {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 5rem 0;
    font-family: 'Montserrat';
    font-size: 1.7rem;
    padding: 1.5rem 4rem;
}


/* OFFICE HOURS */

.office-hours {
    padding: 5rem 3rem 1rem;
    width: 40rem;
    background-color: rgba(59, 175, 191, 0.45);
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    color: white;
    text-transform: uppercase;
}

.title-box h2 {
    font-size: 2rem;
    font-weight: 300;
}

.title-box i {
    font-size: 2.5rem;
    margin-right: 7px;
}

.border-line {
    width: 100%;
    height: 4px;
    background-color: var(--aqua-dark);
    margin: 2rem 0 1rem;
}

.office-hours-row {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    border-bottom: 1px solid white;
}

.office-hours__phone-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    padding: 4rem 3rem;
}

.office-hours__phone-number i {
    margin-right: 1rem;
}


/*///// WELCOME-SECTION ////////*/


/* HEADING */


.welcome-section {
    padding: 10rem 5rem;
}

.welcome-section__wrapper {
    width: 100%;
    margin: 0 auto;
}

.welcome-section__heading {
    width: 75rem;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

.welcome-section__heading h2 {
    font-size: 4.6rem;
    font-weight: 200;
}

.welcome-section__heading p {
    font-size: 2.2rem;
    margin-top: 2rem;
    line-height: 4rem;
}


/* COLUMNS */

.welcome-section__cols {
    display: flex;
    width: 120rem;
    margin: 0 auto 5rem;
}

.welcome-section__col {
    margin: 0 1rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.welcome-section__col i {
    font-size: 5rem;
    color: var(--aqua-dark);
}

.welcome-section__col a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.welcome-section__col h2 {
    font-size: 2.2rem;
    font-weight: 200;
    margin: 4rem 0 1.5rem;
    transition: all .3s;
    text-transform: uppercase;
}

.welcome-section__col a:hover h2 {
    color: var(--aqua-dark);
}

.welcome-section__col p {
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 4rem;
}



/*///// MEET OUR DOCTORS SECTION /////*/


.doctors-section {
    padding: 10rem 5rem 12rem;
    background-color: #F7F7F7;
}


/* HEADING */

.doctors-section__wrapper {
    width: 120rem;
    margin: 0 auto;
}

.doctors-section__heading,
.health-services__heading,
.our-facilities__heading {
    width: 70rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.doctors-section__heading i,
.health-services__heading i,
.our-facilities__heading i {
    font-size: 6rem;
    background-image: linear-gradient(to right, var(--blue-aqua), var(--light-blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.doctors-section__heading h2,
.health-services__heading h2,
.our-facilities__heading h2 {
    font-size: 4.5rem;
    font-weight: 200;
    text-transform: uppercase;
    margin: 3rem 0;
    letter-spacing: 1px;
}

.doctors-section__heading p,
.health-services__heading p,
.our-facilities__heading p {
    font-size: 2.3rem;
    line-height: 5rem;
}


/* COLUMNS */


.doctors-section__cols {
    display: flex;
    justify-content: space-between;
}


.doctors-section__col {
    width: 31%;
    background-color: white;
}

.doctors-section img {
    display: block;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: .3s;
}

.doctors-section img:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgb(209, 209, 209);
}

.doctors-section__description {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 4rem;
    line-height: 2;
}

.doctors-section__description h3 {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.doctors-section__description span {
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.doctors-section__description p {
    margin: 2.5rem 0;
    font-size: 1.7rem;
}

.doctors-section__description a {
    display: inline-block;
    font-size: 1.6rem;
    color: white;
    border-radius: 4px;
    margin-right: 1rem;
    transition: all .3s ease-in-out;
}

.doctors-section__description a:nth-child(1) {
    background-color: #3B5998;
    padding: 2px 12px;
}

.doctors-section__description a:nth-child(2) {
    background-color: #55ACEE;
    padding: 2px 10px;
}

.doctors-section__description a:nth-child(3) {
    background-color: #3F729B;
    padding: 2px 11px;
}

.doctors-section__description a:hover {
    opacity: .8;
}

.icons-wrapper {
    margin-bottom: .8rem;
}


/*///// MEET OUR DOCTORS SECTION /////*/


.health-services {
    padding: 10rem 5rem;
}

.health-services__cols {
    display: flex;
    width: 120rem;
    margin: 7rem auto;
}

.health-services__col {
    padding: 0 2rem;
    text-align: center;
}

.health-services__col a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.health-services__col h2 {
    transition: all .2s ease-in-out;
}

.health-services__col a:hover h2 {
    color: var(--aqua-dark);
}

.health-services__col h2 {
    font-size: 2.2rem;
    font-weight: 200;
    margin: 2rem 0;
}

.health-services__col p {
    font-size: 1.7rem;
    line-height: 2.3;
}



/*///// TOUR OUR FACILITIES/////*/

.our-facilities {
    padding: 10rem 5rem;
    background-image: url(img/paralax-bg-tour-facilities.webp);
    background-size: cover;
    background-position: center;
}

.our-facilities__heading {
    color: white;
}


/*///// SQUARES /////*/

.squares-cols {
    display: flex;
}

.squares-col {
    width: 100%;
    padding: 7rem 3rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif  ;
    color: white;
}

.squares-col h2 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.squares-col p {
    line-height: 2;
}

.squares-col img {
    margin: 1rem 0 1.5rem;
}

.squares-col button {
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.3rem 3rem;
    margin: 5rem 0 1rem;
    cursor: pointer;
    transition: all .2s;
}

.squares-col button:hover {
    color: var(--aqua-dark);
    background-color: white;
}

.squares-col__1 {
    background-color: var(--aqua-dark)
}

.squares-col__2 {
    background-color: var(--light-blue)
}

.squares-col__3 {
    background-color: var(--blue);
}


