@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    min-height: 100vh;
    background-color: #7072f7;
    color: #fff;
}


/*////////////////*/

.nav {
    width: 60%;
    margin: 0 auto;
    padding: 4.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.links {
    display: flex;
}

.links li {
    margin: 0 1rem;
    list-style: none;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

i {
    font-size: 1.8rem;
    margin: 0 1rem;
}


/*/////////////////////*/

.header {
    width: 60%;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
}

.heading {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    padding-right: 3rem;
}

.heading h1 {
    font-size: 6.8rem;
    font-weight: 900;
}

.heading p {
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: 2rem;
    line-height: 3.6rem;
}

.heading span {
    font-weight: bold;
}

.form {
    display: flex;
    width: 40%;
    flex-direction: column;
    background-color: #fff;
    padding: 5rem;
    margin-left: auto;
    border-radius: 1rem;
}

.form label {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #000;
}