@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --blue-dark: #051643;
    --blue-light: #071B50;
    --orange-light: #FFA737;
    --orange-dark: #FF9946;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
}


/*///////////////////*/


